*{
    font-family: 'Roboto', sans-serif;
}
html,body{
    height: 100%;
    margin: 0;
}
body{
    min-height: 100%;
    background-color: #374354;

}

h1{
    text-shadow: 0 .3vw 1em #3BAE97;

}
h2{
    font-size: 3em;
    color: #374354;
    text-shadow: 0 .3vw .4em #374354;
    font-weight: bold;
    width: 100%;
}
span{
    color: #374354;
    font-size: 2.8em;
    width: 100%;
   
}
#mobileDeviceDiv{
    background-color: #374354;
}
.backButton{
    flex-grow: 0; 
    flex-basis: 0;
    cursor: pointer;
}
.title{
    flex-grow: 4; 
    flex-basis: auto;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.heroImage{
    width: 40%; 
    height: auto;
    margin: auto; 
    border-radius: 13px;
}
