*{
    font-family: 'Roboto', sans-serif;
}
html,body{
    height: 100%;
    margin: 0;
}
body{
    min-height: 100%;

}
#mobileDeviceDiv{
    background-color: #374354;
}
.backButton{
    flex-grow: 0; 
    flex-basis: 0;
    cursor: pointer;
}
.title{
    flex-grow: 4; 
    flex-basis: auto;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.heroItem{
    cursor: pointer;
    font-weight: bold;
    font-size: 3em;
    color: #374354;
    background-color: #2D7C72;
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 10%;
    text-shadow: 0 .3vw .4em #374354;
}
.heroImage{
    width: 40%; 
    height: auto;
    margin: 1vw; 
    border-radius: 13px;
}
